
\.idea/\.idea\.NetworkInterfaceCommunicationEmulator/\.idea/

\.idea/\.idea\.NetworkInterfaceCommunicationEmulator/

NetEmu/bin/Debug/netcoreapp2\.2/

NetEmu/obj/Debug/netcoreapp2\.2/

NetEmu/obj/

NICE/obj/Debug/netcoreapp2\.2/

NICE/bin/Debug/netcoreapp2\.2/

NetworkInterfaceCommunicationEmulator/obj/

*.user
